{% load static %}
<body>
	{%include 'admin/adminheader.html'%}
	{%block content%}
	<h2>Profile</h2>
	
	<a href="/adminEdit/{{admin.admin_id}}" class="btn btn-primary">Edit Profile</a> <a href="/admindelete/{{admin.admin_id}}" class="btn btn-primary">Delete Profile</a>
	
	<div class="profile-design">
		<div class="row">
			<div class="col-md-4">
				<h6>ID</h6>
			</div>

			<div class="col-md-4">
				<div class="profile-date">
					<p>{{admin.admin_id}}</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4">
				<h6>Name</h6>
			</div>

			<div class="col-md-4">
				<div class="profile-date">
					<p>{{admin.name}}</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4">
				<h6>Email</h6>
			</div>

			<div class="col-md-4">
				<div class="profile-date">		
					<p>{{admin.email}}</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4">
				<h6>Password</h6>
			</div>

			<div class="col-md-4">
				<div class="profile-date">
					<p>{{admin.password}}</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4">
				<h6>Gender</h6>
			</div>

			<div class="col-md-4">
				<div class="profile-date">
					<p>{{admin.gender}}</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4">
				<h6>Image</h6>
			</div>

			<div class="col-md-4">
				<div class="profile-date">
					<p><img width="40" src="{%static '/lib/Images/'%}{{admin.image}}"/></p>
				</div>
			</div>
		</div>
	</div>
			{%endblock%}
</body>
{%include 'admin/adminfooter.html'%}