{% load static %}
<body>
  {%include 'admin/adminheader.html'%}
  {% block content %}
  <section class="main_page">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="button">
            <a href="{% url 'index' %}">View Admin Detail</a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="button">
            <a href="{% url 'userDetail' %}">View User Detail</a>
          </div>
        </div>
      </div>
        <div class="row">
        <div class="col-md-6">
          <div class="button">
            <a href="{% url 'addevent' %}">Add Event</a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="button">
          <a href="{% url 'viewBooking' %}">View Booking</a>
        </div>
        </div>
        </div>
      <div class="row">
        <div class="col-md-6">
          <div class="button">
          <a href="{% url 'sets' %}">Set time and Date for New Class</a>
        </div>
        </div>
      </div>
      </div>
  </section>
  {% endblock %}
</body>
{%include 'admin/adminfooter.html'%}