{% load static %}
<body>
	{% include 'backend/adminheader.html' %}
	{% block content %}
	<section class="event_page">
		<div class="container-fluid">
			<div class="row pt-5">
				<div class="col-md-4">
					<div class="class_form">
						<form class="form-signin" method="POST" action="/addevent/">
							{% csrf_token %}
							<h2 class="form-signin-heading">Event Register</h2>
							<input type="text" class="form-control" name="event_name" placeholder="Event Name" required="" autofocus="" /><br/>
							<div class="form-group">
								<textarea class="form-control" rows="5" name="event_description" placeholder="Event Description"></textarea>
							</div>
							<input type="date" class="form-control" name="event_date" placeholder="Event Date" required="" autofocus="" /><br/>
							<input type="text" class="form-control" name="admin_name" placeholder="Event Name" value="{{request.session.name}}" autofocus="" /><br/>

							<button class="btn btn-lg btn-primary btn-block" type="submit">Add Event</button>
						</form>
					</div>
				</div>
				<div class="col-md-6">
					<div class="well">
						<div class="thumbnail">
							<a href="{% url 'admindashboard' %}" class="btn btn-primary">Back</a>
						</div>
						<H3> Event Detail</H3>
						<table class="table table-responsive table-striped table-bordered">
							<tbody>
								<tr>
									<th>Event ID</th>
									<th>Event Name</th>
									<th>Event Description</th>
									<th>Event Date</th>
									<th>Admin Name</th>
									<th>Action</th>
								</tr>
								{% for event in events %}
								<tr>
									<th>{{event.event_id}}</th>
									<td>{{event.event_name}}</td>
									<td>{{event.event_description}}</td>
									<td>{{event.event_date}}</td>
									<td>{{event.admin_name}}</td>
									<td><a href="/eventEdit/{{event.event_id}}">Edit</a>|<a href="/eventDelete/{{event.event_id}}">Delete</a></td>
							</tr>
							{% endfor %}
							</tbody>

						</table>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
</body>
{% include 'backend/adminfooter.html' %}