	{% load static %}
	<body>
		{% include 'header.html' %}
		{% block content %}
		<section id="about">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 mx-auto">
						<div class="about-underline">
							<h2>About Us</h2>
						</div>
						<p class="lead">Agni Dance Club are a local community group and they focus on developing local talent through vocational courses for every age group. We provides outstanding technical training in a positive environment that focuses on the life skills of dependability, punctuality, responsibility, respect, and teamwork. We offer seven(7) different types of dance classes in a variety of styles and levels, so there is a class for everyone! Our classes run every day of the week. Getting involved in Agni Dance Club is a great way for every people to escape from the stresses of life and meet others with a similar passion for dance. We strive to provide everyone with not only the technical dance skills to pursue a professional dance career as should they are interested, but more importantly arm them with essential life skills that lead to success in whatever they pursue. </p>
					</div>
				</div>
			</div>
		</section>
		<section class="about-class">
			<div class="container">
				<h2 class="gap">Our Classes</h2>
				<div class="row">
					<div class="col-md-3">
						<div class="box-frame">
							<h2>Tap Dance</h2>
							<img src="{%static 'lib/Images/tap.jpg'%}" class="img-fluid cimages" />
							<p class="lead">
								Tap dance is a type of dance characterised by using the sounds of tap shoes striking the floor as a form of percussion. The sound is made by shoes that have a metal "tap" on the heel and toe.
							</p>
						</div>
					</div>
					<div class="col-md-3">
						<div class="box-frame">
							<h2>Modern Dance</h2>
							<img src="{%static 'lib/Images/modern.jpg'%}" class="img-fluid cimages" />
							<p class="lead">
								Modern dance is often considered to have emerged as a rejection of, or rebellion against, classical ballet. Socioeconomic and cultural factors also contributed to its development.
							</p>
						</div>
					</div>
					<div class="col-md-3">
						<div class="box-frame">
							<h2>Lyrical Dance</h2>
							<img src="{%static 'lib/Images/lyrical.jpg'%}" class="img-fluid cimages" />
							<p class="lead">
								Lyrical dance has been defined as a dance style that embodies various aspects of ballet, jazz, acrobatics & Modern dance while still maintaining its autonomy. So You Think You Can Dance.
							</p>
						</div>
					</div>
					<div class="col-md-3">
						<div class="box-frame">
							<h2>Jazz Dance</h2>
							<img src="{%static 'lib/Images/jazz.jpg'%}" class="img-fluid cimages" />
							<p class="lead">
								Jazz dance is a performance dance technique and style that first emerged in the United States in the early twentieth century. Jazz dance may refer to vernacular jazz or to Broadway or theatrical jazz. Both genres build on African American vernacular styles of dancing that emerged with jazz music.
							</p>
						</div>
					</div>
					<div class="col-md-3">
						<div class="box-frame">
							<h2>HipHop Dance</h2>
							<img src="{%static 'lib/Images/hiphop.jpg'%}" class="img-fluid cimages" />
							<p class="lead">
								HipHop is characterized by nine elements, of which only four are considered essential to understanding hip hop musically. The main pillars of hip hop culture, coining the terms: "rapping" (also called MCing or emceeing), a rhythmic vocal rhyming style (orality); DJing (and turntablism), which is making music with record players and DJ mixers (aural/sound and music creation); b-boying/b-girling/breakdancing (movement/dance); and graffiti. 
							</p>
						</div>
					</div>
					<div class="col-md-3">
						<div class="box-frame">
							<h2>Ballet Dance</h2>
							<img src="{%static 'lib/Images/ballet.jpg'%}" class="img-fluid cimages" />
							<p class="lead">
								Ballet is a type of performance dance that originated during the Italian Renaissance in the fifteenth century and later developed into a concert dance form in France and Russia. It has since become a widespread, highly technical form of dance with its own vocabulary based on French terminology.
							</p>
						</div>
					</div>
					<div class="col-md-3">			
						<div class="box-frame">
							<h2>Contemporary Dance</h2>
							<img src="{%static 'lib/Images/contemporary.jpg'%}" class="img-fluid cimages" />
							<p class="lead">
								Contemporary dance[1] is a genre of dance performance that developed during the mid twentieth century and has since grown to become one of the dominant genres for formally trained dancers throughout the world.
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="fee">
			<div class="container">
				<h3 class="gap">Fee Structure</h3>
				<div class="box-frame">
					<p class="lead">Tuition fee is due monthly. Rs.1000 of discount is applied to everyone who pays 12 months fee within 10 months else no discount is available. Family discounts are also available to those with 2 or more children registered.
					</p>
				</div>
				<table class="title">
					<tr class="head">
						<th>Hours per week</th>
						<th>Tuition Fee</th>
						<th>With Discount</th>
					</tr>
					<tr class="data">
						<td>2</td>
						<td>Rs.4000</td>
						<td>Rs.3000</td>
					</tr>
					<tr>
						<td>2.5</td>
						<td>Rs.5000</td>
						<td>Rs.4000</td>
					</tr>
					<tr class="data">
						<td>3</td>
						<td>Rs.6000</td>
						<td>Rs.5000</td>
					</tr>
					<tr>
						<td>3.5</td>
						<td>Rs.7000</td>
						<td>Rs.6000</td>
					</tr>
					<tr class="data">
						<td>4</td>
						<td>Rs.8000</td>
						<td>Rs.7000</td>
					</tr>
					<tr>
						<td>Unlimited</td>
						<td>Rs.20000</td>
						<td>Rs.18000</td>
					</tr>
				</table>
			</div>
		</section>
		<section class="">
			<div class="container">
				<h3 class="gap">About Teacher</h3>
				<div class="row">
					<div class="col-md-3">
						<div class="box-frame">
							<div class="row">
								<div class="col-sm-3">
									<img src="{%static 'lib/Images/DT1.jpg'%}" class="img-responsive img-fluid" id="about-img">
								</div>
								<div class="col-sm-3">
									<h5>SARAH DUFEU</h5>
								</div>
							</div>
							<p class="lead">She is Dance Teacher who has been teaching Ballet and Lyrical dance since 2004. She has gave many contributions to bringthis club so far and has provided many facility to the students.She has been working on various projects and won many title for her work. She is one of best teacher in our premises.</p>
						</div>
					</div>
					<div class="col-md-3">
						<div class="box-frame">
							<div class="row">
								<div class="col-sm-3">
									<img src="{%static 'lib/Images/DT2.jpg' %}" class="img-responsive img-fluid" id="about-img">
								</div>
								<div class="col-sm-3">
									<h5>HELEN IMISON</h5>
								</div>
							</div>
							<p class="lead">She is Dance Teacher who has been teaching Modern Dance and Tap dance since 2009. She has gave many contributions to bring this club so far and has provided many facility to the students.She has been working on various projects and won many title for her work. She is one of best teacher in our premises.</p>
						</div>
					</div>
					<div class="col-md-3">
						<div class="box-frame">
							<div class="row">
								<div class="col-sm-3">
									<img src="{%static 'lib/Images/DT3.jpg' %}" class="img-responsive img-fluid" id="about-img">
								</div>
								<div class="col-sm-3">
									<h5>NATALIE DODD</h5>
								</div>
							</div>
							<p class="lead">She is Dance Teacher who has been teaching Contemporary dance since 2000. She has gave many contributions to bring this club so far and has provided many facility to the students.She has been working on various projects and won many title for her work. She is one of best teacher in our premises.</p>
						</div>
					</div>
					<div class="col-md-3">
						<div class="box-frame">
							<div class="row">
								<div class="col-sm-3">
									<img src="{%static 'lib/Images/DT4.jpg' %}" class="img-responsive img-fluid" id="about-img">
								</div>
								<div class="col-sm-3">
									<h5>JENNIFER DYSON</h5>
								</div>
							</div>
							<p class="lead">She is Dance Teacher who has been teaching HipHop dance and Jazz dance since 2000. She has gave many contributions to bring this club so far and has provided many facility to the students.She has been working on various projects and won many title for her work. She is one of best teacher in our premises.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	{% endblock %}

</body>
{% include 'footer.html' %}