{% load static %}
<body>
  {% include 'header.html' %}
  {% block content %}

<section id="intro">
    <div class="intro-container">
      <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <div class="carousel-item active">
            <div class="carousel-background"><img src="{%static 'lib/Images/contemp.jpg'%}" alt=""></div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="%static 'lib/Images/balletsli.jpg'%}" alt=""></div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="{%static 'lib/Images/HHop.jpg'%}" alt=""></div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

      </div>
    </div>
  </section><!-- #intro -->

  <section id="featured-services" class="fsblue">
    <div class="container">
      <div class="section-header">
        <h3 class="section-title">About Us</h3>
      </div>
      <div class="row">
        <div class="box">
          <p class="description" align="center">An airline is a company that provides air transport 
            services for traveling passengers and freight. Airlines utilize aircraft to supply these 
            services and may form partnerships or alliances with other airlines for codeshare agreements,
             in which they both offer and operate the same flight.Generally, airline companies are 
             recognized with an air operating certificate or license issued by a governmental aviation 
             body. Airlines may be scheduled or charter operators.</p>
            <a href="{% url 'aboutus' %}" class="btn btn-warning">Read More...</a>
        </div>
      </div>
    </div>
  </section><!-- #featured-services -->

  <section class="dance">
  <div class="container-fluid">
    <h2>Our Classes</h2>
    <div class="row">
      <div class="col-lg-4">
        <div class="box-frame">    
          <h2>Tap Dance</h2>
          <img src="{%static 'lib/Images/tap.jpg'%}" class="img-fluid cimages" />
          <p class="lead">Tap dance is a type of dance characterised by using the sounds of tap shoes striking the floor as a form of percussion. The sound is made by shoes that have a metal "tap" on the heel and toe.</p>
        </div>
      </div>
       <div class="col-lg-4">
        <div class="box-frame"> 
          <h2>Jazz Dance</h2>
          <img src="{%static 'lib/Images/jazz.jpg'%}" class="img-fluid cimages" />
            <p class="lead">
              Jazz dance is a performance dance technique and style that first emerged in the United States in the early twentieth century. Jazz dance may refer to vernacular jazz or to Broadway or theatrical jazz. 
            </p>
        </div>
      </div>
         <div class="col-lg-4">
        <div class="box-frame">
          <h2>Lyrical Dance</h2>
          <img src="{%static 'lib/Images/lyrical.jpg'%}" class="img-fluid cimages" />
          <p class="lead">Lyrical dance has been defined as a dance style that embodies various aspects of ballet, jazz, acrobatics & Modern dance while still maintaining its autonomy. So You Think You Can Dance.</p>
        </div>
      </div>
    </div>
  <button type="button" class="btn btn-warning btt"><a href="{% url 'aboutus' %}">Explore More...</a></button>
  </div>
</section>

  <section class="fee">
    <div class="container">
        <h3 class="gap">Fee Structure</h3>
        <div class="box-frame">
          <p class="lead">Tuition fee is due monthly. Rs.1000 of discount is applied to everyone who pays 12 months fee within 10 months else..........
          </p>
        
        <table class="title">
          <tr class="head">
            <th>Hours per week</th>
            <th>Tuition Fee</th>
            <th>With Discount</th>
          </tr>
          <tr class="data">
            <td>2</td>
            <td>Rs.4000</td>
            <td>Rs.3000</td>
          </tr>
          <tr>
            <td>2.5</td>
            <td>Rs.5000</td>
            <td>Rs.4000</td>
          </tr>
        </table>
          <button type="button" class="btn btn-warning btt"><a href="{% url 'aboutus' %}">See More...</a></button>
          </div>
    </div>
</section>


  <section id="contact" class="section-bg wow fadeInUp">
    <div class="container">

      <div class="section-header">
        <h3>Contact Us</h3>
        <p>Leave us your brief details and someone from our team will get in touch with you as soon as possible!</p>
      </div>

      <div class="row contact-info">

        <div class="col-md-4">
          <div class="contact-address">
            <i class="ion-ios-location-outline"></i>
            <h3>Address</h3>
            <address>Agnishal, Lalitpur, Nepal</address>
          </div>
        </div>

        <div class="col-md-4">
          <div class="contact-phone">
            <i class="ion-ios-telephone-outline"></i>
            <h3>Phone Number</h3>
            <p><a href="tel:+977-01-5546350">+977-01-5546350</a> | <a href="tel:+977-9860484239">+977-9860484239</a></p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="contact-email">
            <i class="ion-ios-email-outline"></i>
            <h3>Email</h3>
            <p><a href="mailto:bigemmaharjan@gmail.com">bigemmaharjan@gmail.com</a></p>
          </div>
        </div>

      </div>
      </div>
      </section>

      {% endblock %}

</body>
{% include 'footer.html' %}