{% load static %}
<body>
	{%include 'user/userheader.html'%}
	{% block content %}
	
	<section class="main_page">
		<div class="container">
			<div class="row" >
				<div class="col-md-6">
					<div class="button">
						<a href="/userBooking">Book a Class</a>
					</div>
				</div>
				<div class="col-md-6">
					<div class="button">
						<a href="/viewevent">View Event</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="button">
						<a href="/yourBooking">View Your Booking</a>
					</div>
				</div>
				<div class="col-md-6">
					<div class="button">
						<a href="/viewTimeDate">View Time and Date</a>
					</div>
				</div>
			</div>
		</div>
	</section>


	{% endblock %}
</body>
{%include 'user/userfooter.html'%}